NODE_ENV=development
DATABASE_URL=postgres://duckguard:duckguard@localhost:5432/duckguard
SHADOW_DATABASE_URL=postgres://duckguard:duckguard@localhost:5432/duckguard_shadow
ROOT_DATABASE_URL=postgres://postgres:postgres@localhost:5432/postgres
